[flake8]
max-line-length = 100
exclude=
    tests/data/tokenizer/python/input.py

per-file-ignores =
    tokenizer/mips/mips_tokenizer.py:W605
    tests/unittest/tests.py:E501
    tests/integration/test.py:E501
