# Python requirements for Lichen


# Python tokenization
parso==0.8.3

# C/C++ tokenization
clang==11.0

# Java tokenization
javac_parser==1.0.0

# turn data into human readable format
humanize==3.13.1
